*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color:black;
    color: white;
    align-items: center;
    display:flex;
    justify-content:space-evenly;
}

.nav_logo{
    height: 55px;
    width: 100px;
}

.logo{
    background-image: url("image/Amazon_logo.jpg");
    background-size: cover;
    height: 50px;;
    width: 100px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.nav_address{
    padding: 10px 11px;
}

.add_1{
    color: antiquewhite;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add_2{
    font-size: 1rem;
    margin-left: 3px;
}

.add_icon{
    display:flex;
    align-items: center;
}

.nav_search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search_select{
    background-color:#f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search_input{
   width: 100%;
   font-size: 1rem;
   border: none;
}

.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}


.nav_search:hover{
    border: 2px solid orange;
}

span{
    font-size: 0.7;
}

.nav_2{
    font-size: 0.85;
    font-weight: 700;
}

.nav_return{
    padding: 10px 11px;
}

.nav_cart i{
    font-size: 30px;
}

.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 10px 11px;
}

/* PANEL */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel_ops p {
    display: inline;
    margin-left: 15px;
}

.panel_ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 8px 9px;
}

.panel_all{
    padding: 8px 9px;
}

/* hover in patagraph */

.A:hover{
    border: 1.5px solid white;
    padding: 10px 11px;
}

.B:hover{
    border: 1.5px solid white;
    padding: 10px 11px;
}

.C:hover{
    border: 1.5px solid white;
    padding: 10px 11px;
}

.D:hover{
    border: 1.5px solid white;
    padding: 10px 11px;
}

.E:hover{
    border: 1.5px solid white;
    padding: 10px 11px;
}

/* hero section */

.hero_section{
    background-image: url("./image/Amazon.jpg");
    background-size: cover;
    height: 400px;
}


.shop_section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F652A0;
}


.box {
    height: 300px;
    width: 24%;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}


.box_img{
    height: 220px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box_content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box_content p{
    color:rgb(18, 134, 134);
}


/* footer */

footer{
    margin-top: 5px;
}

.foot_panel_1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot_panel_2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot_panel_3 {
     background-color: #222f3d;
     color: white;
     border-top: 0.5px solid white;
     height: 70px;
     display: flex;
     justify-content: center;
}


.logo_1 {
    background-image: url("./image/Amazon_logo_2.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot_panel_4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}
.copyright{  
    padding-top: 5px;
}
